---
layout: null
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <!-- Jeśli chcesz zachować CSS z minima, odwołaj się do niego -->
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  </head>
  <body>
    <header class="site-header">
      <div class="wrapper">
        <h1 class="site-title">
          <!-- Prosty link do strony głównej -->
          <a href="{{ site.baseurl | default: '/' }}">{{ site.title }}</a>
        </h1>
      </div>
    </header>

    <main class="wrapper">
      {{ content }}
    </main>

    <footer class="site-footer h-card">
      <div class="wrapper">
        <p>© 2025 My Footer</p>
      </div>
    </footer>
  </body>
</html>
